frappe==14.0.0
erpnext==14.0.0
python-dateutil
pytz
babel
jinja2>=3.0.0
werkzeug>=2.0.0
mysqlclient==2.1.1
redis>=3.0.0
pypdf2
html2text
email-reply-parser
click>=7.0
gunicorn
boto3
cryptography
maxminddb-geolite2
pyOpenSSL
weasyprint
pycryptodome
pymysql
psutil
zxcvbn-python
python-magic
rq>=1.9.0
pandas>=1.1.5
PyJWT>=2.0.0
ipython
watchdog
bleach-allowlist>=1.0.3
psycopg2-binary
croniter>=0.3.34
GitPython
requests-oauthlib>=1.1.0
filetype
boto3
google-api-python-client
google-auth-oauthlib
google-auth-httplib2
