{% extends "templates/web.html" %}

{% block page_content %}
<div class="row">
    <div class="col-12">
        <h1 class="text-right">هيكلة الجامعة الوطنية للتعليم</h1>
    </div>
</div>

<div class="row mt-4">
    <div class="col-12">
        <ul class="nav nav-tabs" id="structureTabs" role="tablist">
            {% for type in structure_types %}
            <li class="nav-item">
                <a class="nav-link {% if loop.first %}active{% endif %}" 
                   id="{{ type.key }}-tab" 
                   data-toggle="tab" 
                   href="#{{ type.key }}" 
                   role="tab">{{ type.label }}</a>
            </li>
            {% endfor %}
        </ul>

        <div class="tab-content mt-3" id="structureTabContent">
            {% for type in structure_types %}
            <div class="tab-pane fade {% if loop.first %}show active{% endif %}" 
                 id="{{ type.key }}" 
                 role="tabpanel">
                
                {% if type.key == 'executive' %}
                    {% include "nfe_umt/www/federation-structure/executive_office.html" %}
                {% elif type.key == 'regional' %}
                    {% include "nfe_umt/www/federation-structure/regional_offices.html" %}
                {% elif type.key == 'local' %}
                    {% include "nfe_umt/www/federation-structure/local_offices.html" %}
                {% else %}
                    {% include "nfe_umt/www/federation-structure/members_list.html" %}
                {% endif %}
                
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}

{% block style %}
<style>
    body {
        direction: rtl;
    }
    
    .nav-tabs {
        padding-right: 0;
    }
    
    .table th {
        text-align: right;
    }
    
    .card {
        margin-bottom: 1rem;
    }
    
    .office-title {
        border-bottom: 2px solid #007bff;
        padding-bottom: 0.5rem;
        margin-bottom: 1rem;
    }
</style>
{% endblock %}
