{% extends "templates/web.html" %}

{% block page_content %}
<div class="row">
    <div class="col-12">
        <h1 class="text-right">الأعضاء</h1>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th class="text-right">الإسم</th>
                                <th class="text-right">المهنة</th>
                                <th class="text-right">المؤسسة</th>
                                <th class="text-right">الاقليم</th>
                                <th class="text-right">الحالة</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for member in members %}
                            <tr>
                                <td class="text-right">
                                    <a href="/members/{{ member.name }}">{{ member.name1 }}</a>
                                </td>
                                <td class="text-right">{{ member.profession }}</td>
                                <td class="text-right">{{ member.institution }}</td>
                                <td class="text-right">{{ member.region }}</td>
                                <td class="text-right">
                                    {% if member.enabled %}
                                    <span class="badge badge-success">مفعل</span>
                                    {% else %}
                                    <span class="badge badge-danger">غير مفعل</span>
                                    {% endif %}
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block style %}
<style>
    body {
        direction: rtl;
    }
</style>
{% endblock %}
